<!doctype html>
<head>
    <title>Claims Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/claim.PNG') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to Claims Portal</h1>            
          </div>
          <form action="" method=post enctype=multipart/form-data>
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Please enter your email</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="email" class="form-control" id="name" name="name" style="max-width: 256px;" required>
                </div>
                <div class="px-4 py-3 my-2 text-center">

                    <input type=file name=file class="form-control" required>
                </div>
                <div style ="display: inline-flex;">    
                  <label style ="padding-right: 10px;">Uploaded file type:</label>
                  <label style ="padding-right: 10px; padding-left: 5px;">
                    <input type="radio" name="type" value="Medical" class="form-check-input" required>
                    Medical Claim
                  </label><br>
                
                  <label style ="padding-right: 10px; padding-left: 5px;">
                    <input type="radio" name="type" value="ABC" class="form-check-input">
                    ABC Claim
                  </label><br>   
                </div>
                <div class="px-4 py-3 my-2 text-center">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3", value="Upload">Submit</button>
                </div>

     
            </div>
        </form>
     </main>      
   </body>
</html>